/*
 * colors
 * https://www.uillinois.edu/OUR/brand/color_palettes
 *
 * Primary "U of I Blue": #13294b
 * Secondary accent blues: #0455A4, #1F4096
 *
 * Neutrals: #E8E9EA, #A5A8AA, #5E6669
 *
 * University accent colors
 * Urbana orange: #E84A27
 * UIC red: #D50032
 * UIS blue: #003366
 *
 * Accent colors
 * Teal: #0d605e
 * Gray-blue: #6fafc7
 * Citron: #bfd46d
 * Dark yellow: #ffd125
 * Salmon: #ee5e5e
 * Periwinkle: #4f6898
 */

/* Make Code Blocks stand out from page text. */
pre {
    background-color: lightgray;
}
code {
    background-color: lightgray;
}
.btn {
     color: #fff;
     background-color: #003366; /* UIS Blue, and passes contrast check. */
}
