/*
 * colors
 * https://www.uillinois.edu/OUR/brand/color_palettes
 *
 * Primary "U of I Blue": #13294b
 * Secondary accent blues: #0455A4, #1F4096
 *
 * Neutrals: #E8E9EA, #A5A8AA, #5E6669
 *
 * University accent colors
 * Urbana orange: #E84A27
 * UIC red: #D50032
 * UIS blue: #003366
 *
 * Accent colors
 * Teal: #0d605e
 * Gray-blue: #6fafc7
 * Citron: #bfd46d
 * Dark yellow: #ffd125
 * Salmon: #ee5e5e
 * Periwinkle: #4f6898
 */



/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding: 0;
}
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: .5em .5em;
    text-decoration: none;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Make Code Blocks stand out from page text. */
pre {
    background-color: lightgray;
}
code {
    background-color: lightgray;
}