---
title: University of Illinois GitHub Service Community Portal
---

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}} - University of Illinois GitHub Service Community Portal</title>
  <meta name="description" content="Community-supported documentation for the University of Illinois GitHub service.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="styleheet" href="/css/illinois-system.css">

  <meta name="theme-color" content="#fafafa">

<!-- TODO: Convert this back into a Breadcrumb solution with aria active for current page -->
<nav aria-label="breadcrumb" role="navigation" class="navbar">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">University of Illinois GitHub Service Community Portal</a></li>
  </ol>
</nav>

</head>
<body>

  <header class="blog-header my-3 pb-3 border-bottom">
    <div class="container">
      <h1>{{title}}</h1>
    </div>
  </header>

<!-- Main Content -->
<main class="container content" role="main">
{{ content | safe }}
</main>

<!-- Footer -->
<footer class="border-top my-3 pt-3">
  <div class="container" role="contentinfo">
    <img src="/images/Illinois-System-Logo__Horizontal-Blue.svg" class="d-block mx-auto mw-100 w-md-50" width="555"
      height="40" alt="University of Illinois System: Illinois, UIC, UIS" loading="lazy">
  </div>
</footer>

</html>
