---
title: University of Illinois GitHub Service Community Portal
---

<!doctype html>
<html lang="en">

<head> 
  
  <link rel="stylesheet" href="style.css" /> 
  <title>{{ title }}</title>
  <!-- TODO: Navigation Here -->

</head> 
<body>

<!-- Main Content -->
<div class="content" role="main">
{{ content | safe }}
</div>

<!-- Footer -->
<div class="content" role="contentinfo">
  <!-- TODO: Footer here -->
</div>

</html>
